# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment
.env

# Uploaded files
app/uploads/*

# ChromaDB
app/vector_db/chroma_storage/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db